<ion-header [translucent]="false">
  //change header colour and repeat colours
  <ion-toolbar color="dark">
    <ion-title color="primary">
      <!--think of title-->
      Tickets and Dates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ticket Links and Dates</ion-title>
    </ion-toolbar>
  </ion-header>
//repeat from page 1 but changed the tags and layout
  <div>
    <h1>Tickets and Dates</h1>
    <ion-card *ngFor="let ticket of tickets">
      <ion-card-header>
        <ion-card-title>{{ticket.url}}</ion-card-title>
        <ion-card-subtitle>{{ticket.dates.start.localDate}}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </div>
</ion-content>
